<div class="row">
    <!--<div class="col-md-6">-->
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="新增新闻信息">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="newsInfo.newsEdition" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
            </div>
            <div class="form-group ">
                <div class="row">
                    <h5 class="form-section">新闻咨询基本信息</h5>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="categoryId">所属行业</label>
                        <select ng-disabled="kt.isView" class="form-control" ng-model="kt.newsEdition.categoryId"
                                id="categoryId"
                                title="所属行业" data-container="body"
                                ng-options="item for item in kt.newsEdition.categoryName" required>
                        </select>
                    </div>

                    <!--<div class="form-group col-md-6 col-sm-6 col-xs-6">-->
                        <!--<label for="hotLevel">热度级别</label>-->
                        <!--<select ng-disabled="kt.isView" class="form-control" ng-model="kt.newsEdition.hotLevel"-->
                                <!--id="hotLevel"-->
                                <!--title="所属行业" data-container="body"-->
                                <!--ng-options="item.code as item.text for item in kt.types">-->
                        <!--</select>-->
                    <!--</div>-->

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="title">新闻标题</label>
                        <input id="title" type="text" required
                               class="form-control tags medium" placeholder="新闻标题" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.newsEdition.title">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="title">新闻类别</label>
                        <ui-select tagging tagging-label="false" ng-model="kt.newsEdition.newsCategory" theme="bootstrap"
                                   ng-disabled="kt.isView"  title="Choose a color">
                            <ui-select-match  placeholder="Select colors...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices  repeat="color in kt.newsEdition.newsCategorys | filter:$select.search">
                                {{color}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <br><br>
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" id="hot" ng-model="kt.newsEdition.hot" ng-disabled="kt.isView">
                            <span>是否推荐</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row">
                <h5 class="form-section">新闻内容</h5>


                <div ng-if="ifshow">
                    <ng-quill-editor
                            ng-model="model"
                            placeholder="新闻正文"
                            id="content"
                            on-editor-created="editorCreated(editor)"
                            on-content-changed="contentChanged(editor, html, text)"
                            read-only="readonly">
                    </ng-quill-editor>
                </div>
                <div ng-if="!ifshow">
                    <ng-quill-editor
                            ng-model="model"
                            read-only="readonly"
                            modules="{toolbar: false}">
                    </ng-quill-editor>
                </div>
            </div>
            <hr/>
        </form>

    </div>
</div>