<div class="row">
    <!--<div class="col-md-6">-->
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="新增展会信息">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="exhibition.management" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
            </div>
            <div class="form-group ">
                <div class="row">
                    <h5 class="form-section">新闻咨询基本信息</h5>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="categoryId">所属行业</label>
                        <select ng-disabled="kt.isView" class="form-control" ng-model="kt.newsEdition.categoryId"
                                id="categoryId"
                                title="所属行业" data-container="body" required
                                ng-options="item.code as item.text for item in kt.types">
                        </select>
                    </div>


                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" id="hot" ng-model="kt.exhibition.hot" ng-disabled="kt.isView">
                        <span>是否推荐</span>
                    </label>

                </div>
            </div>
            <hr/>

            <div class="row">
                <h5 class="form-section">展会说明</h5>


                <div ng-if="ifshow">
                    <ng-quill-editor
                            ng-model="model"
                            placeholder="描述展会"
                            id="description"
                            on-editor-created="editorCreated(editor)"
                            on-content-changed="contentChanged(editor, html, text)"
                            read-only="readonly">
                    </ng-quill-editor>
                </div>
                <div ng-if="!ifshow">
                    <ng-quill-editor
                            ng-model="model"
                            read-only="readonly"
                            modules="{toolbar: false}">
                    </ng-quill-editor>
                </div>
            </div>
            <hr/>
    </form>

</div>
</div>