<div ba-panel ba-panel-title="新闻编辑" ba-panel-class="xmedium-panel with-scroll light-text">
    <h3>文本编辑器</h3>
    <!--<pre><code>{{model}}</code></pre>-->
    <form name="Form" enctype="multipart/form-data">
    <ng-quill-editor ng-model="kt.newsEdition.subtitle" placeholder="override default placeholder"
                      on-content-changed="contentChanged(editor, html, text)"
                     on-selection-changed="selectionChanged(editor, range, oldRange, source)"></ng-quill-editor>

        <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
            <i class="ion-heart"></i>保存
        </button>


    <!--图片上传模块dropzone-->
    <div>
        <div ng-model="kt.newsEdition.request" id="NewsEditCtrl" class="dropzone sm"
             options="dzOptions" methods="dzMethods" callbacks="dzCallbacks" ng-dropzone></div>
        <div style="text-align:center;" id="startUpload" ng-show="showBtns">
            <button ng-click="dzMethods.processQueue();">Start Uploading</button>
            <button ng-click="dzMethods.removeAllFiles();">Remove All Files</button>
            <button ng-click="dzMethods.removeFile(lastFile);">Remove Last File</button>
            <!--<button ng-click="getDropzone();">Get getDropzone instance</button>-->
            <!--<button ng-click="getFiles();">Get total files</button>-->
        </div>
    </div>

    </form>

</div>


