<div class="row">
    <!--<div class="col-md-6">-->
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="新增展会信息">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="exhibition.management" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
            </div>
            <div class="form-group ">
                <div class="row">
                    <h5 class="form-section">展会基本信息</h5>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="title">主题</label>
                        <input ng-disabled="kt.isView" type="text" class="form-control" id="title" placeholder="主题"
                               ng-model="kt.exhibition.title" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="subtitle">副标题</label>
                        <input ng-disabled="kt.isView" type="text" class="form-control" id="subtitle" placeholder="副标题"
                               ng-model="kt.exhibition.subtitle">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="categoryId">所属行业</label>
                        <select ng-disabled="kt.isView" class="form-control" ng-model="kt.exhibition.categoryId"
                                id="categoryId"
                                title="所属行业" data-container="body" required
                                ng-options="item.code as item.text for item in kt.types">
                        </select>
                    </div>


                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="tag">标签</label>
                        <input id="tag" type="text" required
                               class="form-control tags medium" placeholder="标签" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.exhibition.tag">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="location">展会地址</label>
                        <input id="location" type="text" required
                               class="form-control tags medium" placeholder="展会地址" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.exhibition.location">
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="country">举办国</label>
                        <input id="country" type="text" required
                               class="form-control tags medium" placeholder="展会举办国" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.exhibition.country">
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="city">举办城市</label>
                        <input id="city" type="text" required
                               class="form-control tags medium" placeholder="展会举办城市" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.exhibition.city">
                    </div>


                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>开始日期：</label>
                        <datetimepicker ng-model="kt.exhibition.startTime"
                                        show-meridian="false"
                                        date-format="yyyy-MM-dd"
                                        date-options="dateOptions">
                        </datetimepicker>

                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label>结束日期：</label>
                        <datetimepicker ng-model="kt.exhibition.endTime"
                                        show-meridian="false"
                                        date-format="yyyy-MM-dd"
                                        date-options="dateOptions">
                        </datetimepicker>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" id="hasCarousel" ng-model="kt.exhibition.hasCarousel"
                                   ng-disabled="kt.isView">
                            <span>是否设置为轮播</span>
                        </label>

                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" id="hot" ng-model="kt.exhibition.hot" ng-disabled="kt.isView">
                            <span>是否推荐</span>
                        </label>

                    </div>
                </div>
                <hr/>

                <div class="row">
                    <h5 class="form-section">展会说明</h5>

                    <ng-quill-editor ng-model="model" placeholder="描述展会"
                                     id="description"
                                     on-editor-created="editorCreated(editor)"
                                     on-content-changed="contentChanged(editor, html, text)"></ng-quill-editor>

                </div>
                <hr/>

                <div class="row">
                    <h5 class="form-section">展会图片</h5>
                    <!-- Dropzone 2 -->

                    <div id="dropzone2" class="dropzone sm" options="dzOptions" methods="dzMethods"
                         callbacks="dzCallbacks" ng-dropzone></div>
                    <div style="text-align:center;" id="startUpload" ng-show="showBtns">
                        <button ng-click="dzMethods.processQueue();">Start Uploading</button>
                        <button ng-click="dzMethods.removeAllFiles();">Remove All Files</button>
                        <button ng-click="dzMethods.removeFile(lastFile);">Remove Last File</button>
                        <button ng-click="getDropzone();">Get getDropzone instance</button>
                        <button ng-click="getFiles();">Get total files</button>
                    </div>
                    <!--<div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone ng-model="kt.exhibitionDetail.files"></div>-->
                </div>
            </div>
        </form>
        <!--</div>-->
    </div>
</div>