<div class="row">
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="友情链接">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="link.management" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
            </div>
            <div class="form-group ">
                <div class="row">
                    <!--<h5 class="form-section">首页自定义信息</h5>-->
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="linkName">链接名称</label>
                        <input ng-disabled="kt.isView" type="text" class="form-control" id="LinkName"
                               placeholder="链接名称"
                               ng-model="kt.link.linkName" required>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="linkUrl">链接地址</label>
                        <input id="linkUrl" type="text" required
                               class="form-control tags medium" placeholder="链接地址" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.link.linkUrl">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="picName">图片名称</label>
                        <input id="picName" type="text" required
                               class="form-control tags medium" placeholder="图片名称" type="text"
                               value="" ng-disabled="kt.isView" ng-model="kt.link.picName">
                    </div>
                </div>
            </div>

        </form>
        <h5 class="form-section">友情链接图片</h5>

        <div class="form-group">
            <div id="dropzone2" class="dropzone sm" options="dzOptions" methods="dzMethods" ng-disabled="kt.isView"
                 callbacks="dzCallbacks" ng-dropzone></div>
            <div style="text-align:center;" id="startUpload" ng-show="showBtns">
                <button ng-show="!readonly" ng-click="dzMethods.processQueue();">上传图片</button>
            </div>
        </div>
    </div>
</div>