<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oukingtim.mapper.CategoryExhibitionMapper">

    <select id="selectCategoryIdsByHomepageId" resultType="String">
        select exhibition_id from tb_category_exhibition where category_id = #{value}
    </select>
</mapper>