<div ba-panel ba-panel-title="签证列表" ba-panel-class="xmedium-panel with-scroll light-text">
    <div class="row add-row-editable-table">
        <div class="col-md-4">
            <button has-perms='visa.management.add' class="btn btn-success btn-with-icon" ui-sref="visa.management.add"
                    ng-if="!kt.onlyOne">
                <i class="ion-plus-round"></i>新增
            </button>
        </div>
        <div class="col-md-2 col-md-offset-6 ">
            <div class="form-group">
                <input type="text" class="form-control form-control-rounded" ng-model="kt.tableState.search.title"
                       input-keyup="kt.LoadPage" placeholder="名称">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover table-condensed" st-pipe="kt.LoadPage"
           st-table="kt.visalist">
        <thead>
        <tr class="sortable">
            <th>
                <label class="table-checkbox checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="kt.checkboxes.checked">
                    <span></span>
                </label>
            </th>
            <th>序号</th>
            <th>国家</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="visa in kt.visalist">
            <td class="check-td">
                <div class="mail-checkbox">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" ng-model="kt.checkboxes.items[homepage.id]">
                        <span></span>
                    </label>
                </div>
            </td>
            <td>{{$index+1}}</td>
            <td>{{visa.countryName}}</td>
            <td>
                <div class="buttons">
                    <button has-perms='visa.management.view'
                            class="btn btn-info editable-table-button btn-xs btn-with-icon"
                            ui-sref="visa.management.view({id:visa.id,isView:true,isDisable:true})"><i class="ion-search"></i>查看
                    </button>
                    <button has-perms='visa.management.edit'
                            class="btn btn-warning editable-table-button btn-xs btn-with-icon"
                            ui-sref="visa.management.edit({id:visa.id,isDisable:true})"><i class="ion-edit"></i>编辑
                    </button>
                    <button has-perms='visa.management.delete'
                            class="btn btn-danger editable-table-button btn-xs btn-with-icon"
                            ng-click="kt.del(visa.id)"><i class="ion-trash-a"></i>删除
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="5"
                     st-template="app/pages/common/pagination.html"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

