<div class="row">
    <!--<div class="col-md-6">-->
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="签证信息">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="visa.management" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
            </div>

            <div class="form-group ">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="continent">所属洲</label>
                        <select ng-disabled="kt.isView" class="form-control" ng-model="kt.visa.continent"
                                id="continent" ng-change="selectContinent()"
                                title="选择所属洲" data-container="body" required
                                ng-options="item.id as item.name for item in kt.continentList">
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="country">签证国</label>
                        <select ng-disabled="kt.isView" class="form-control" ng-model="kt.visa.country"
                                id="country"
                                title="选择签证国家" data-container="body" required
                                ng-options="item.id as item.name for item in kt.countryList">
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>签证详情</label>
                <ng-quill-editor
                        ng-disabled="kt.isView"
                        ng-model="kt.visa.visaInfo"
                        placeholder="详情描述"
                        on-editor-created="editorCreated(editor)"
                        read-only="readonly">
                </ng-quill-editor>
            </div>

            <div class="form-group">
                <label for="file">签证资料</label>
                <select ng-disabled="kt.isView" class="form-control" ng-model="kt.file"
                        id="file"
                        title="选择签证资料" data-container="body" required
                        ng-options="item.id as item.name for item in kt.files">
                </select>
            </div>

        </form>

    </div>
</div>