<div class="row">
    <!--<div class="col-md-6">-->
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="展会信息">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="exhibition.management" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
            </div>

            <div class="form-group ">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="title">主题</label>
                        <input ng-disabled="kt.isView" type="text" class="form-control" id="title" placeholder="主题"
                               ng-model="kt.exhibition.title" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="subtitle">副标题</label>
                        <input ng-disabled="kt.isView" type="text" class="form-control" id="subtitle" placeholder="副标题"
                               ng-model="kt.exhibition.subtitle">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="categoryId">所属行业</label>
                        <select ng-disabled="kt.isView" class="form-control" ng-model="kt.exhibition.categoryId"
                                id="categoryId"
                                title="所属行业" data-container="body" required ngc-select-search
                                ng-options="item.id as item.name for item in kt.CategoryList">
                        </select>
                    </div>

                </div>
            </div>


            <h5 class="form-section">签证信息</h5>

            <div class="form-group">
                <button type="button" class="btn btn-success btn-with-icon" ng-click="addDetail()"
                        ng-if="!kt.isView">
                    <i class="ion-plus-round"></i>添加详情模块
                </button>
            </div>
            <div class="row" ng-repeat="item in kt.customDetail track by $index">
                <div class="form-group">
                    <div class="form-group col-md-5 col-sm-5 col-xs-5">
                        <input type="text"
                               class="form-control tags medium" placeholder="二级标题" type="text"
                               value="" ng-disabled="kt.isView" ng-model="item.detailTitle">
                    </div>
                    <div class="form-group col-md-5 col-sm-5 col-xs-5">
                        <button type="button" class="btn btn-danger btn-with-icon" ng-click="removeDetail()"
                                ng-if="!kt.isView">
                            <i class="ion-trash-a"></i>删除
                        </button>
                    </div>

                    <div class="form-group col-md-12 col-sm-5 col-xs-5">
                        <ng-quill-editor
                                ng-disabled="kt.isView"
                                ng-model="item.detailContent"
                                placeholder="详情描述"
                                on-editor-created="editorCreated(editor)"
                                read-only="readonly">
                        </ng-quill-editor>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>