<div class="row">
    <!--<div class="col-md-6">-->
    <div ba-panel ba-panel-class="large-panel with-scroll light-text" ba-panel-title="签证信息">
        <form name="Form" ng-submit="kt.save()">


            <div class="form-group ">
                <button ui-sref="visa.management" type="button" class="btn btn-default btn-with-icon">
                    <i class="ion-reply"></i>返回
                </button>
                <button type="submit" class="btn btn-danger btn-with-icon" ng-if="!kt.isView">
                    <i class="ion-heart"></i>保存
                </button>
                <button type="button" ng-if="!kt.isView"
                        class="btn btn-success btn-with-icon" ngf-select="uploadFiles($files)" accept="*" multiple>
                    <i class="icon-plus-round">添加文件</i>
                </button>
                <!--                <button ngf-select="uploadFiles($files)" multiple
                                        accept="*">Select Files
                                </button>-->
            </div>

            <div class="form-group ">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="continent">所属洲</label>
                        <select ng-disabled="kt.isDisable" class="form-control" ng-model="kt.visa.continent"
                                id="continent" ng-change="selectContinent()"
                                title="选择所属洲" data-container="body" required
                                ng-options="item.id as item.name for item in kt.continentList">
                        </select>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="country">签证国</label>
                        <select ng-disabled="kt.isDisable" class="form-control" ng-model="kt.visa.country"
                                id="country"
                                title="选择签证国家" data-container="body" required
                                ng-options="item.id as item.name for item in kt.countryList">
                        </select>
                    </div>

                    <!--<div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="country">签证国</label>
                        <select ng-disabled="kt.isDisable" class="form-control" ng-model="kt.visa.country"
                                id="country"
                                title="选择签证国家" data-container="body" required
                                ng-options="item.id as item.name for item in kt.countryList">
                        </select>
                    </div>-->
                </div>
            </div>

            <div class="form-group">
                <label>签证详情</label>
                <ng-quill-editor
                        ng-disabled="kt.isView"
                        ng-model="kt.visa.visaInfo"
                        placeholder="详情描述"
                        on-editor-created="editorCreated(editor)"
                        read-only="readonly">
                </ng-quill-editor>
            </div>


        </form>
        <div class="form-group">
            <label>签证资料</label>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>

                    <th>序号</th>
                    <th>文件名</th>
                    <!--<td>附件-->
                    <!--</td>-->
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-if="!kt.noData">
                    <td>
                        hh
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="file in kt.files track by $index">

                    <td>{{$index+1}}</td>
                    <td>
                        {{file.name}}
                    </td>
                    <!--<td >-->
                    <!--<a href="javascript:void(0)" download="{{file.fileUrl}}"><i class="ion-clipboard">{{file.name}} </i></a>-->
                    <!--</td>-->
                    <td>
                        <div class="buttons">
                            <button class="btn btn-danger editable-table-button btn-xs btn-with-icon"
                                    ng-click="removeFile(file)"><i class="ion-trash-a"></i>删除
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>